.container {
display: flex;
  gap: 100px;
   row-gap: 50px;
}

.affair{
	margin:0 10px 0 10px;
}

.id{
	margin:0 10px 0 10px;
	flex:3 2 1 300px;
}
.name{
	margin:0 10px 0 10px;
	flex: 2 1 3 300px;
}
.priority{
	margin:0 10px 0 10px;
	flex: 1 2 3 300px;
}
.button{
	margin:0 10px 0 10px;
}
